textarea {
    height: auto;
}

small.validation-error{
    font-style: italic;
    color: red;
    margin: 10px;
}

input.validation-error {
    box-shadow: 0 0 6px red !important;
}

.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}